/* custom font*/
@font-face {
    font-family:'DMSans-Regular';
    src: url('DMSans-Regular.ttf');
}

/* class="navbar" */
.navbar {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px; 
    text-align: right;
    margin: 40px 210px 40px 180px;
}

/* hyperlinks */
a:link {
    color: #c0c0c0;
    text-decoration: none; 
}
a:visited {
    color: #c0c0c0;
    text-decoration: none; 
}
a:hover {
    color: black;
    text-decoration: none; 
}

/* id="photo" */
#photo {
    background-image: url("lawyer.jpg");
    background-repeat: no-repeat;
    padding-top: 175px;
    padding-left: 175px;
    padding-bottom: 175px;
    width: 1600px;
    height: auto;
}

/* form */
form {
    background-color : #00416a;
    color : white;
    width: 330px;
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 60px;
    line-height: 0.95;
}

/* id="white_font" */
#white_font {font-family:'DMSans-Regular'; text-align:left; font-size:16px;}

/* id="big_font" */
#big_font {font-size:45px; margin-top:10px;}

/* id="yellow_text" */
#yellow_text {font-family:Arial, Helvetica, sans-serif; text-align:left; font-size:16px; color: #FFD700; margin-top:-20px;}

/* input */
input {
    width: 320px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left; 
    font-size: 16px;   
    margin-top: 20px;
}

/* button */
button {
    width: 170px;
    height: 50px;
    background-color: #FFD700;
    font-family:'DMSans-Regular'; 
    text-align: center; 
    font-size: 14px;  
    margin-top: 20px;
}

/* 3 columns*/

.col {
    float: left;
    color: grey;
    width: 360px;
    font-size: 14px;
    line-height: 1.7;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif; 

    position: relative;
    margin: 0px 40px 0px 40px;
}

.features {
    position: absolute;
    margin: 140px;
}

/* set font for h1 */
h1 {font-family:'DMSans-Regular'; text-align:left; font-size:16px; color:black;}

footer {
    background-color: #F6F6F3;
    height: 150px;
    width: 1600px;
    margin-top:480px;
}

  